# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporaries
*~

# LaTeX
*.tex
*.aux
*.log
*.pdf

# Graph.ps
*.dot
*.ps

# Tests generated
rstaub_allSatTests_autogen_*.*

# Resol
resol

# Temp QT Creator
*.pro.user*
build-*
